.list {
	position: relative;

	@media @desktop {
		padding: @sp4;
	}

	@media @mobile {
		padding: @sp2;
	}

	> header {
		display: flex;
		align-items: center;
		.medium-header;

		h1 {
			.medium-title;
			flex: 1 1 auto;
		}

		.toolbar {
			margin-left: @sp4;
		}
	}

	.list-item {
		position: relative;

		.title {
			font-weight: bold;
		}

		.detail {
			color: @text-color-mute;
		}
	}

	&.has-detail-view {

		&:not(.open-detail-view) {

			.detail-view {
				display: none;
			}
		}

		@media @desktop {

			> .wrapper {
				display: flex;
				width: 100%;
				overflow: hidden;

				.list-container {
					flex: 1 1 auto;
					width: auto;
				}

				.detail-view {
					flex: 0 0 auto;
				}
			}

		}

		&.open-detail-view {

			.detail-view {
				.modal-dialog;
			}

			@media @desktop {

				.detail-view {
					margin: @sp1 @sp1 @sp1 @sp4;
					box-shadow: 0 2px 5px rgba(0,0,0,0.5);
					animation: slide-left 400ms;
				}
			}

			@media @mobile {

				.detail-view {
					.docked(fixed);
					z-index: 10;
					animation: slide-up 400ms;
				}
			}
		}
	}
}

.table-list {

	table {
		width: 100%;
		border-collapse: collapse;
	}

	th,
	td {
		padding: @sp1 @sp2;
		text-align: left;

		&.date {
			text-align: center;
		}

		&.number {
			text-align: right;
		}

		&.optional {

			@media @mobile {
				display: none;
			}
		}

		&.actions {
			width: 1px;
			white-space: nowrap;
		}
	}

	tbody {

		tr {

			&:nth-child(odd) {
				background-color: @area-color-stripe;
			}
		}
	}
}

.grid-list {

	.list-items {

		@media @desktop {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.list-item {
		box-sizing: border-box;
		border-radius: 2px;
		border: 1px solid @border-color;
		overflow: hidden;

		@media @desktop {
			width: @sz10 * 2.5;
			max-width: 40%;
		}

		header {
			height: @sz5;
			line-height: @sz5;
			padding: @sp1 @sp2;
		}

		figure {
			height: @sz10;
			background-color: @area-color-surface;
		}

		.toolbar {
			position: absolute;
			z-index: 1;
			bottom: 0;
			right: 0;
			margin: @sp1;
		}

		@media @desktop {

			&:not(:hover) .toolbar {
				display: none;
			}
		}
	}
}
